<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>SẢN PHẨM</h4>
                        <form novalidate name="formAdd" role="form">
                            <div class="mb-3">
                                <label class="form-label">Mã sản phẩm</label>
                                <input type="text" class="form-control" name="maSanPham" required disabled
                                    ng-model="detailProduct.ma">
                                <span ng-show="formAdd.maSanPham.$invalid" class="has-error ">Mã
                                    không
                                    được
                                    trống</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" name="tenSanPham" required
                                    ng-model="detailProduct.ten">
                                <span ng-show="formAdd.tenSanPham.$invalid" ng-hide="show?true:false"
                                    class="has-error">Tên
                                    không
                                    được
                                    trống</span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Mô tả</label>
                                <input type="text" class="form-control" name="moTa" required
                                    ng-model="detailProduct.moTa">
                                <span ng-show="formAdd.moTa.$invalid" ng-hide="show?true:false" class="has-error">Mô tả
                                    không
                                    được
                                    trống</span>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <a type="button" class="btn btn-primary" ng-disabled="formAdd.$invalid"
                                    id="liveToastBtn" ng-click="add($event)">Thêm</a>
                            </div>
                        </form>
                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-body">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>