<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>SẢN PHẨM CHI TIẾT</h4>

                        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" href="#san-pham/add">Thêm Sản Phẩm</a>
                        </div>
                        <!-- <form class="row">
                            <div class="col-md-3">
                                <label class="form-label">Sản Phẩm</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{sanPham.id}}" ng-repeat="sanPham in listSanPhamTrangThai">
                                        {{sanPham.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Danh Mục</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{danhMuc.id}}" ng-repeat="danhMuc in listDanhMucTrangThai">
                                        {{danhMuc.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Màu Sắc</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{mauSac.id}}" ng-repeat="mauSac in listMauSacTrangThai">
                                        {{mauSac.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Kích Thước</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{kichThuoc.id}}" ng-repeat="kichThuoc in listKichThuocTrangThai">
                                        {{kichThuoc.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Phong Cách</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{phongCach.id}}" ng-repeat="phongCach in listPhongCachTrangThai">
                                        {{phongCach.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Chất Liệu</label>
                                <select class="select">
                                    <option value="">Tất cả</option>
                                    <option value="{{chatLieu.id}}" ng-repeat="chatLieu in listChatLieuTrangThai">
                                        {{chatLieu.ten}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Họa Tiết</label>
                                <select class="select">
                                    <option value="">Tất Cả</option>
                                    <option value="{{hoaTiet.id}}" ng-repeat="hoaTiet in listHoaTietTrangThai">
                                        {{hoaTiet.ten}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Trạng Thái</label>
                                <select class="select">
                                    <option value="">Tất Cả</option>
                                    <option value="">Kích Hoạt</option>
                                    <option value="">Hủy Kích Hoạt</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Sắp Xếp</label>
                                <select class="select">
                                    <option value="">Mặc Định</option>
                                    <option value="">Hàng mới nhất</option>
                                    <option value="">Giá tăng dần</option>
                                    <option value="">Giá giảm dần</option>
                                    <option value="">A -> Z</option>
                                    <option value="">Z -> A</option>

                                </select>
                            </div>
                        </form> -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ảnh Đại Diện</th>
                                    <th scope="col">Tên Sản Phẩm</th>
                                    <th scope="col">Số Lượng</th>
                                    <th scope="col">Giá Nhỏ Nhất</th>
                                    <th scope="col">Giá Lớn Nhất</th>
                                    <th scope="col">Trạng Thái</th>
                                    <th scope="col">Hành Động</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="sanPhamChiTiet in listSanPhamChiTiet.content ">
                                <tr>
                                    <th scope="row">{{$index+1}}</th>
                                    <th scope="row"><img class="table_img"
                                            src="../../../assets/{{sanPhamChiTiet.anhNoiBat}}" alt="Không có ảnh"></th>
                                    <th scope="row">{{sanPhamChiTiet.ten}}</th>
                                    <th scope="row">{{sanPhamChiTiet.soLuong}}</th>
                                    <th scope="row">{{sanPhamChiTiet.giaNhoNhat | number}} VND</th>
                                    <th scope="row">{{sanPhamChiTiet.giaLonNhat | number}} VND</th>
                                    <th scope="row">{{sanPhamChiTiet.daXoa?"Ngừng kinh Doanh":"Kinh Doanh"}}
                                    </th>
                                    <th>
                                        <a type="button" class="btn btn-warning "
                                            href="#san-pham/update/{{sanPhamChiTiet.idsanPhamChiTiet}}">Chi
                                            tiết</a>

                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" ng-click="previousPage()" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item" ng-repeat="page in totalPages track by $index"
                                    ng-click="changePage($index);">
                                    <a class="page-link">{{$index+1}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" ng-click="nextPage()">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>