<!-- <main class="content">
  <div class="container-fluid p-0">
    <h3>Quản lý khách hàng</h3>
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a type="button" class="btn btn-success" href="#dia-chi/add"
                >+ Thêm mới</a
              >
            </div>
            <br />
            <form class="row">
              <div class="col-md-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Trạng thái</option>
                  <option value="1">Tất cả</option>
                  <option value="3">Kích hoạt</option>
                  <option value="2">Hủy kích hoạt</option>
                </select>
              </div>

              <div class="col-md-4">
                <select class="form-select" aria-label="Default select example">
                  <option selected>Hạng khách hàng</option>
                  <option value="1">Nhân viên</option>
                  <option value="2">Quản lý</option>
                </select>
              </div>

              <div class="col-md-4">
                <div class="input-group rounded">
                  <input
                    type="search"
                    ng-model="maFilter"
                    class="form-control rounded"
                    placeholder="Tìm theo mã"
                    aria-label="Search"
                    aria-describedby="search-addon"
                    required
                  />
                  <span class="input-group-text border-0" id="search-addon">
                    <button
                      class="fas fa-search"
                      ng-click="searchmaa()"
                    ></button>
                  </span>
                </div>
              </div>
            </form>
            <br />

            <form class="row">
              <div class="col-md-4">
                <div class="input-group rounded">
                  <input
                    type="date"
                    class="form-control rounded"
                    placeholder="Tìm theo số điện thoại"
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group rounded">
                  <input
                    ng-model="tenFilter"
                    type="search"
                    class="form-control rounded"
                    placeholder="Tìm theo tên"
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <span class="input-group-text border-0" id="search-addon">
                    <button
                      class="fas fa-search"
                      ng-click="searchten()"
                    ></button>
                  </span>
                </div>
              </div>

              <div class="col-md-4">
                <div class="input-group rounded">
                  <input
                    ng-model="sdtFilter"
                    type="search"
                    class="form-control rounded"
                    placeholder="Tìm theo số điện thoại"
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <span class="input-group-text border-0" id="search-addon">
                    <button
                      class="fas fa-search"
                      ng-click="searchsdt()"
                    ></button>
                  </span>
                </div>
              </div>
            </form>
            <br />
            <div class="m-portlet">
              <div class="m-portlet">
                <div class="m-portlet__body">
                  <div class="modal-body">
                    <div class="form-group">
                      <table
                        id="custom-table"
                        style="text-align: center"
                        class="table table-bordered m-table d-sm-table m-table--head-bg-primary"
                      >
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Ngày Tạo</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Hành động</th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="kh in list_dc.content">
                          <tr>
                            <th scope="row">{{$index+1}}</th>
                            <th scope="row">{{kh.ten}}</th>
                            <th scope="row">
                              {{kh.mota}}, {{kh.phuongxa}}, {{kh.quanhuyen}},
                              {{kh.tinhthanhpho}}
                            </th>

                            <th scope="row">
                              {{kh.ngaytao | date: 'dd/MM/yyyy hh:mm a'}}
                            </th>

                            <th scope="row">
                              {{kh.trangthai==1?"Kích hoạt":"Hủy kích hoạt"}}
                            </th>
                            <th>
                              <a
                                type="button"
                                href=""
                                class="fas fa-highlighter"
                                style="font-size: 21px; color: rgb(52, 22, 161)"
                              ></a>
                              <i
                                type="button"
                                class="material-icons"
                                style="color: rgb(163, 66, 66)"
                                ng-click="delete(kh.id)"
                                >delete</i
                              >
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="Page navigation example center">
              <ul class="pagination justify-content-center">
                <li class="page-item">
                  <a class="page-link" ng-click="previousPage()"><<</a>
                </li>
                <li
                  class="page-item"
                  ng-repeat="page in totalPages track by $index"
                  ng-click="changePage($index);"
                >
                  <a class="page-link">{{$index+1}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" ng-click="nextPage($index)">>></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-header">
          <h5 class="card-title mb-0">Hóa đơn</h5>
        </div>
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a type="button" class="btn btn-success" href="#dia-chi/add"
                >+ Thêm mới</a
              >
            </div>
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-6">
                  <a href="" class="" ng-click="toggleCheckboxDisplay()">
                    |||
                  </a>
                </div>
              </div>

              <div class="row mt-4" ng-show="showCheckboxes">
                <div class="col-md-6">
                  <div class="checkbox-container">
                    <label class="checkbox-item" ng-repeat="item in columns">
                      <input type="checkbox" ng-model="item.checked" /> {{
                      item.name }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <table class="table table-striped">
              <thead>
                <tr>
                  <th ng-repeat="column in columns" ng-show="column.checked">
                    {{ column.name }}
                  </th>

                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="row in list_dc.content">
                  <td ng-repeat="column in columns" ng-show="column.checked">
                    {{ column.field === 'taiKhoan.ma' ? row.taiKhoan.ma :
                    row[column.field] }} {{ column.field === 'taiKhoan.hoten' ?
                    row.taiKhoan.hoten : row[column.field] }} {{ column.field
                    === 'taiKhoan.email' ? row.taiKhoan.email :
                    row[column.field] }} {{ column.field ===
                    'taiKhoan.hangKhachHang.ten' ?
                    row.taiKhoan.hangKhachHang.ten : row[column.field] }} {{
                    row[column.mota] }} {{ row[column.phuongxa] }} {{
                    row[column.quanhuyen] }} {{ row[column.tinhthanhpho] }}
                  </td>

                  <th>
                    <a
                      type="button"
                      href=""
                      class="fas fa-highlighter"
                      style="font-size: 21px; color: rgb(52, 22, 161)"
                    ></a>
                    <i
                      type="button"
                      class="material-icons"
                      style="color: rgb(163, 66, 66)"
                      ng-click="delete(row.id)"
                      >delete</i
                    >
                  </th>
                </tr>
              </tbody>
            </table>

            <div class="row mt-4">
              <div class="col-md-12">
                <nav aria-label="Page navigation example center">
                  <ul class="pagination justify-content-center">
                    <li class="page-item">
                      <a class="page-link" ng-click="previousPage()"><<</a>
                    </li>
                    <li
                      class="page-item"
                      ng-repeat="page in totalPages track by $index"
                      ng-click="changePage($index);"
                    >
                      <a class="page-link">{{$index+1}}</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" ng-click="nextPage($index)">>></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<style>
  .checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .checkbox-item {
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .checkbox-label {
    display: inline-block;
    margin-left: 5px;
  }
</style>
