<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>DANH SÁCH TAY ÁO</h4>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" href="#tay-ao/add">Thêm</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã Tay Áo</th>
                                    <th scope="col">Tên Cổ Áo</th>
                                    <th scope="col">Trạng Thái</th>
                                    <th scope="col">Thao Tác</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="tayAo in listTayAo.content">
                                <tr>
                                    <th scope="row">{{$index+1}}</th>
                                    <th scope="row">{{tayAo.ma}}</th>
                                    <th scope="row">{{tayAo.ten}}</th>
                                    <th>
                                        <p ng-class="{' align-middle text-bg-success text-light ': !tayAo.daXoa
                                        ,'align-middle text-bg-danger text-light':tayAo.daXoa}">
                                            {{tayAo.daXoa ? "Hủy kích hoạt" : "Kích hoạt"}}

                                        </p>
                                    </th>
                                    <th>
                                        <a href="#tay-ao/update/{{tayAo.id}}"> <i
                                                class="align-middle me-2 fas fa-fw fa-edit"></i>
                                        </a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" ng-click="previousPage()" aria-label="Previous">
                                        <span aria-hidden="true">
                                            << </span>
                                    </a>
                                </li>
                                <li class="page-item" ng-repeat="page in totalPages track by $index"
                                    ng-click="changePage($index);">
                                    <a class="page-link">{{$index+1}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" ng-click="nextPage()">>></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>