<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>MÀU SẮC</h4>
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Mã màu sắc</label>
                                <input type="color" id="color" class="form-control form-control-color"
                                    ng-model="formMauSac.ma">
                            </div>
                        </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" id="liveToastBtn" ng-click="add($event)">Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>