<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>DANH SÁCH MÀU SẮC</h4>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" href="#mau-sac/add">Thêm</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã Màu</th>
                                    <th scope="col">Tên Màu</th>
                                    <th scope="col">Màu Sắc</th>
                                    <th scope="col">Trạng Thái</th>
                                    <th scope="col">Thao Tác</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="mauSac in listMauSac.content">
                                <tr>
                                    <td scope="row">{{$index+1}}</td>
                                    <th scope="row">{{mauSac.ma}}</th>
                                    <th scope="row">{{mauSac.ten}}</th>
                                    <th style="background-color: {{mauSac.ma}};"></th>
                                    <th>
                                        <p ng-class="{' text-g ': !mauSac.daXoa
                                        ,'text-glow':mauSac.daXoa}">
                                            {{mauSac.daXoa ? "Hủy kích hoạt" : "Kích hoạt"}}

                                        </p>
                                    </th>
                                    </th>
                                    <th>
                                        <a href="#mau-sac/update/{{mauSac.id}}">
                                            <i class="align-middle me-2 fas fa-fw fa-edit"></i>
                                        </a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" ng-click="previousPage()" aria-label="Previous">
                                        <span aria-hidden="true">
                                            << </span>
                                    </a>
                                </li>
                                <li class="page-item" ng-repeat="page in totalPages track by $index"
                                    ng-click="changePage($index);">
                                    <a class="page-link">{{$index+1}}</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" ng-click="nextPage()">>></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>