<br>
<div class="card flex-md-fill w-100">
    <div class="card-header">
        <div class="col-md-4">
            <a type="button" class="btn btn-warning" href="#ma-giam-gia/hienthi">Back</a>
        </div>
    </div>
    <div class="card-body d-flex">

        <div class="container" align="left">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form>
                        <div class="row">
                            <div class="col-mb-12 row" >
                                <label for="inputMa" class="col-sm-4 col-form-label">Mã giảm giá:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputMa"  ng-model="detailProduct.ma" disabled>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-mb-12 row" >
                                <label for="inputTen" class="col-sm-4 col-form-label">Tên mã:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputTen" ng-model="detailProduct.tenKM">
                                    <span
                                            ng-hide="showTen?true:false"
                                            class="has-error" style="font-size: 70%"
                                    >Tên mã sai định dạng
                                </span>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-mb-12 row">
                                <label class="col-sm-4 col-form-label">Hình Thức Giảm Giá:</label>
                                <div class="col-sm-8">
                                    <input type="radio" value="0"  ng-model="detailProduct.hinhThucGiam"
                                           ng-checked="detailProduct.hinhThucGiam=='0'" class="form-check-input">
                                    <label class="form-check-label">
                                        Tiền mặt
                                    </label>
                                    <input type="radio" value="1" ng-model="detailProduct.hinhThucGiam"
                                           ng-checked="detailProduct.hinhThucGiam=='1'" class="form-check-input">
                                    <label class="form-check-label">
                                        Phần trăm
                                    </label>
                                </div>
                            </div>
                        </div>

                        <br>

                        <div class="row">
                            <div class="col-mb-12 row">

                                <label for="inputGTDToiThieu" class="col-sm-6 col-form-label">Giá trị đơn tối thiểu:</label>
                                <label for="inputGTD" class="col-sm-6 col-form-label">Giảm tối đa:</label>
                            </div>
                            <div class="col-mb-12 row" >
                                <div class ="col-sm-6">
                                    <input type="number" class="form-control" id="inputGTDToiThieu" ng-model="detailProduct.giaTriDonToiThieu">
                                    <span
                                        ng-hide="showTT?true:false"
                                        class="has-error" style="font-size: 70%"
                                >Vui lòng nhập giá trị
                                </span>
                                </div>


                                <div class="col-sm-6">
                                    <input type="number" class="form-control" id="inputGTD" ng-model="detailProduct.giaTriGiamToiDa">
                                    <span
                                            ng-hide="showTD?true:false"
                                            class="has-error" style="font-size: 70%"
                                    >Vui lòng nhập giá trị
                                </span>
                                </div>
                            </div>


                        </div>

                        <br>

                        <div class="row">
                            <div class="col-mb-12 row">

                                <label for="inputNbd" class="col-sm-6 col-form-label">Ngày bắt đầu:</label>
                                <label for="inputNkt" class="col-sm-6 col-form-label">Ngày kết thúc:</label>
                            </div>
                            <div class="col-mb-12 row" >
                                <div class ="col-sm-6">
                                    <input type="datetime-local" onfocus="this.min=new Date().toISOString().split('T')[0]+'T00:00'"  class="form-control" id="inputNbd" ng-model="detailProduct.ngayBatDau">
                                    <span
                                            ng-hide="showBD?true:false"
                                            class="has-error" style="font-size: 70%"
                                    >Vui lòng nhập
                                          </span>
                                </div>
                                <div class="col-sm-6">
                                    <input type="datetime-local" onfocus="this.min=new Date().toISOString().split('T')[0]+'T00:00'"  class="form-control" id="inputNkt" ng-model="detailProduct.ngayKetThuc">
                                    <span
                                            ng-hide="showKT?true:false"
                                            class="has-error" style="font-size: 70%"
                                    >Vui lòng nhập
                                          </span>
                                </div>
                            </div>


                        </div>

                        <br>

                        <div class="row">
                            <div class="col-mb-12 row">

                                <label for="inputSlm" class="col-sm-6 col-form-label">Số lượng mã:</label>
                                <label for="inputTt" class="col-sm-6 col-form-label">Trạng thái:</label>
                            </div>
                            <div class="col-mb-12 row" >
                                <div class ="col-sm-6">
                                    <input type="number" class="form-control" id="inputSlm" ng-model="detailProduct.soLuong">
                                </div>


                                <div class="col-sm-6">
                                    <select class="form-select" aria-label="Default select example" id="inputTt" disabled>
                                        <option value="1" {{detailProduct.trangThai == '1' ? "selected" : ""}}>Sắp diễn ra</option>
                                        <option value="2" {{detailProduct.trangThai == '2' ? "selected" : ""}}>Đang diễn ra</option>
                                        <option value="3" {{detailProduct.trangThai == '3' ? "selected" : ""}}>Đã hết hạn</option>
                                    </select>
                                </div>
                            </div>


                        </div>

                        <br>
                        <div class="col-md-4">
                            <a type="button" class="btn btn-primary" href="#/ma-giam-gia/hienthi" ng-click="update(detailProduct.id, $event)">Cập nhật mã</a>
                        </div>

                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

</div>


