<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>KIỂU DÁNG</h4>
                        <form class="row">
                            <div class="mb-3">
                                <label class="form-label">Mã kiểu dáng</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="formKieuDang.ma">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên kiểu dáng</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="formKieuDang.ten">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Danh Mục</label>
                                <select ng-model="formKieuDang.idDanhMuc">
                                    <option value="">--chọn--</option>
                                    <option value="{{danhMuc.id}}" ng-repeat="danhMuc in listDanhMucTheoTrangThai">
                                        {{danhMuc.ten}}</option>
                                </select>
                            </div>
                        </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" ng-click="add($event)">Thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>