<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Mã kiểu dáng</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="detailKieuDang.ma">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên kiểu dáng</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="detailKieuDang.ten">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên danh mục</label>
                                <select class="form-select" ng-model="detailKieuDang.danhMuc.id">
                                    <option ng-repeat="danhMuc in listDanhMucTheoTrangThai" value="{{danhMuc.id}}"
                                        ng-selected="detailKieuDang.danhMuc.id">
                                        {{danhMuc.ten}}
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3" class="form-check">
                                <label class="form-label">Trạng thái</label><br>
                                <input type="radio" value="1" ng-model="detailKieuDang.trangThai"
                                    ng-checked="detailKieuDang.trangThai==1" class="form-check-input">
                                <label class="form-check-label">
                                    Kích hoạt
                                </label>
                                <input type="radio" value="0" ng-model="detailKieuDang.trangThai"
                                    ng-checked="detailKieuDang.trangThai==0" class="form-check-input">
                                <label class="form-check-label">
                                    Hủy kích hoạt
                                </label>
                            </div>
                        </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" ng-click="update(detailKieuDang.id)">Cập nhật</a>
                            <a type="button" class="btn btn-primary" href="#kieu-dang/hien-thi">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>