<style>
  .file-upload-wrapper {
    width: 100px;
    /* Điều chỉnh chiều rộng theo ý muốn */
    height: 100px;
    /* Điều chỉnh chiều cao theo ý muốn */
    border-radius: 50%;
    /* Làm cho nút tròn */
    overflow: hidden;
    /* Đảm bảo nội dung không bị tràn ra ngoài */
  }

  .input-container {
    position: relative;
  }

  .form-control {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    /* Màu và độ dày của gạch chân mặc định */
    width: 100%;
    box-sizing: border-box;
    transition: border-bottom 0.3s;
    /* Hiệu ứng chuyển động khi thay đổi border-bottom */
  }

  .form-control:focus {
    border-bottom: none;
    /* Loại bỏ gạch chân khi ô input được focus */
  }

  .file-upload {
    width: 100%;
    /* Đảm bảo nút bên trong kích thước đúng */
    height: 100%;
    border-radius: 100%;
  }

  .table_img {
    border-radius: 100%;
    /* Đặt bán kính là 50% để biến ảnh thành hình tròn */
    width: 260px;
    /* Điều chỉnh kích thước theo nhu cầu của bạn */
    height: 297px;
    /* Điều chỉnh kích thước theo nhu cầu của bạn */
  }
  .col-md-2 {
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: flex-end; /* Horizontal alignment to the right */
  }

  .uploadfile {
    text-align: center; /* Center the content inside uploadfile */
  }
</style>
<main ng-controller="loginController" class="content">
  <div ng-if="isLoggedIn==true" class="container-fluid p-0">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card flex-fill">
          <div class="card-body d-flex">
            <div class="align-self-center w-100">
              <h4 class="mb-4">Thông tin khách hàng</h4>
              <form>
                <div class="row">
                  <div class="mb-4">
                    <label class="form-label"
                      >Tên khách hàng <span style="color: red">*</span>:</label
                    >
                    <input
                      type="text"
                      ng-model="list.hoTen"
                      class="form-control"
                      ng-model="detailKhachHang.hoTen"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label"
                      >Ngày sinh <span style="color: red">*</span>:</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      ng-model-options="{timezone: 'UTC'}"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label">Giới tính</label><br />
                    <input
                      ng-model="list.gioiTinh"
                      type="radio"
                      name="gender"
                      ng-value="true"
                      class="form-check-input"
                    />
                    <label class="form-check-label"> Nam </label>

                    <input
                      type="radio"
                      ng-model="list.gioiTinh"
                      name="gender"
                      ng-value="false"
                      class="form-check-input ms-3"
                    />
                    <label class="form-check-label"> Nữ </label>
                  </div>
                  <div class="mb-4">
                    <label class="form-label"
                      >Số điện thoại <span style="color: red">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      ng-model="list.soDienThoai"
                    />
                  </div>
                  <div class="mb-4">
                    <label class="form-label"
                      >Email <span style="color: red">*</span>:</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      ng-model="list.email"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="card flex-fill">
          <div class="card-body d-flex">
            <div class="align-self-center w-100">
              <!-- Added text-center class here -->
              <div>
                <div class="uploadfile">
                  <label for="product-image">
                    <i
                      ng-if="!list.anhDaiDien"
                      style="font-size: 200px"
                      class="fas fa-user-circle"
                      aria-hidden="true"
                    ></i>
                    <img
                      ng-if="list.anhDaiDien"
                      src="../../../assets/anh-nguoi-dung/{{list.anhDaiDien}}"
                      alt="Employee Image"
                      class="table_img"
                    />
                    <input
                      type="file"
                      multiple
                      class="file-upload-input"
                      id="product-image"
                      data-mdb-file-upload="file-upload"
                      style="display: none"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
