<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <form class="row">
              <div class="mb-3">
                <label class="form-label">Mã khách hàng</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="form_kh.ma"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Tên khách hàng</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="form_kh.ten"
                  required
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="form_kh.email"
                  required
                />
              </div>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a type="button" class="btn btn-primary" ng-click="add($event)"
                >Thêm</a
              >
              <a
                type="button"
                class="btn btn-primary"
                href="#khach-hang/hien-thi"
                >Back</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
