<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <form>
              <div class="mb-3">
                <label class="form-label">Mã khách hàng</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="detailKhachHang.ma"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Tên khách hàng</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="detailKhachHang.hoten"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="detailKhachHang.email"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="detailKhachHang.sodienthoai"
                />
              </div>
              <div class="mb-3">
                <label class="form-label">Ngày sinh</label>
                <input
                  type="text"
                  class="form-control"
                  aria-describedby="emailHelp"
                  ng-model="detailKhachHang.ngaysinh"
                />
              </div>
              <div class="mb-3">
                <div ng-model="detailKhachHang.hangKhachHang.id">
                  <span
                    value="{{hangKhachHang.id}}"
                    ng-selected="detailKhachHang.hangKhachHang.id"
                  >
                  </span>
                </div>
              </div>
              <div class="mb-3" class="form-check">
                <label class="form-label">Trạng thái</label><br />
                <input
                  type="radio"
                  value="1"
                  ng-model="detailKhachHang.trangthai"
                  ng-checked="detailKhachHang.trangthai==1"
                  class="form-check-input"
                />

                <label class="form-check-label"> Kích hoạt </label>
                <input
                  type="radio"
                  value="0"
                  ng-model="detailKhachHang.trangthai"
                  ng-checked="detailKhachHang.trangthai==0"
                  class="form-check-input"
                />
                <label class="form-check-label"> Hủy kích hoạt </label>
              </div>
            </form>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a
                type="button"
                class="btn btn-primary"
                ng-click="update(detailKhachHang.id)"
                >Cập nhật</a
              >

              <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div
                  id="liveToast"
                  class="toast"
                  role="alert"
                  aria-live="assertive"
                  aria-atomic="true"
                  data-bs-delay="1500"
                >
                  <div class="toast-body">
                    {{message}}
                    <div id="myProgress">
                      <div id="myBar"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2">
                <a data-bs-toggle="modal" data-bs-target="#add">
                  <button class="btn btn-warning">Thêm địa chỉ</button>
                </a>
              </div>
              <div class="col-md-2">
                <a href="#khach-hang/hien-thi">
                  <button class="btn btn-danger">Thoát</button>
                </a>
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <div
                class="modal fade"
                id="add"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="container-fluid">
                        <h4>ĐỊA CHỈ</h4>
                        <form>
                          <div class="mb-3">
                            <label class="form-label">Số nhà, tên đường</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="form_dc.mota"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Tỉnh thành phố</label>
                            <select
                              id="city"
                              class="browser-default custom-select"
                            >
                              <option selected id="thanhpho"></option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Quận huyện</label>
                            <select
                              class="browser-default custom-select"
                              id="district"
                            >
                              <option value="" selected></option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Phường xã</label>
                            <select
                              class="browser-default custom-select"
                              id="ward"
                            >
                              <option value="" selected></option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-warning"
                              data-bs-dismiss="modal"
                              ng-disabled="formAdd.$invalid"
                              id="liveToastBtn"
                              ng-click="addDiaChi($event)"
                            >
                              Thêm
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
