<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <h4>DANH MỤC</h4>
                        <form>
                            <div class="mb-3">
                                <label class="form-label">Mã sản phẩm</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="formDanhMuc.ma">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Tên sản phẩm</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp"
                                    ng-model="formDanhMuc.ten">
                            </div>
                            <div class="mb-3" class="form-check">
                                <label class="form-label">Trạng thái</label><br>
                                <input type="radio" value="false" ng-model="formDanhMuc.daXoa"
                                    ng-checked="formDanhMuc.daXoa==false" class="form-check-input">
                                <label class="form-check-label">
                                    Kích hoạt
                                </label>
                                <input type="radio" value="true" ng-model="formDanhMuc.daXoa"
                                    ng-checked="formDanhMuc.daXoa==true" class="form-check-input">
                                <label class="form-check-label">
                                    Hủy kích hoạt
                                </label>
                            </div>
                        </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" ng-click="update(formDanhMuc.id)">Cập nhật</a>
                            s
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>