<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <form>


                        </form>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" ng-click="add()">Add</a>
                            <a type="button" class="btn btn-primary" ng-click="update(formProduct.id)">Update</a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="sanPham in listSanPham.content">
                                <tr>
                                    <th scope="row">{{$index+1}}</th>
                                    <th scope="row">{{sanPham.ma}}</th>
                                    <th scope="row">{{sanPham.ten}}</th>
                                    <th scope="row">{{sanPham.moTa}}</th>
                                    <th scope="row">{{sanPham.trangThai==1?"Kích hoạt":"Hủy kích hoạt"}}
                                    </th>
                                    <th>
                                        <a type="button" class="btn btn-warning "
                                            ng-click="detail(sanPham.id)">Detail</a>
                                        <a type="button" class="btn btn-danger" ng-click="delete(sanPham.id)">Delete</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>