<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="timeline-container">
            <ul class="timeline">
              <li class="timeline-item"
                ng-if="detailHoaDon.trangThai===0 || detailHoaDon.trangThai===1 || detailHoaDon.trangThai===2 || detailHoaDon.trangThai===3 ">
                <div class="timeline-content">
                  <h3>Tạo đơn hàng</h3>
                  <p style="align-items: center;">{{detailHoaDon.ngayTao | date: 'dd/MM/yyyy hh:mm a'}}</p>
                </div>
              </li>
              <li class="timeline-item"
                ng-if="detailHoaDon.trangThai===0 || detailHoaDon.trangThai===1 || detailHoaDon.trangThai===2 || detailHoaDon.trangThai===3 ">
                <div class="timeline-content">
                  <h3>Chờ xác nhận</h3>
                </div>
              </li>
              <li class="timeline-item">
                <div class="timeline-content">
                  <h3>Chờ giao hàng</h3>
                </div>
              </li>
              <li class="timeline-item">
                <div class="timeline-content">
                  <h3>Đang giao hàng</h3>
                </div>
              </li>
              <li class="timeline-item">
                <div class="timeline-content">
                  <h3>Hoàn thành</h3>
                </div>
              </li>

            </ul>
          </div>

        </div>
        <div class="text-end m-3">
          <a type="button" id="liveToastBtn" class="btn btn-primary" ng-click="add($event)">Chi tiết</a>
        </div>
      </div>
      <div class="card flex-fill">
        <h1>THÔNG TIN ĐƠN HÀNG</h1>
        <hr />
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3 mb-5">Mã đơn hàng</div>
                <div class="col-md-9">
                  <p>{{detailHoaDon.ma}}</p>
                </div>
                <div class="col-md-3 mb-5">Loại</div>
                <div class="col-md-9">
                  <p>{{detailHoaDon.loaiHoaDon}}</p>

                </div>
                <div class="col-md-3 mb-5">Trạng thái</div>
                <div class="col-md-9">
                  <p>
                    {{detailHoaDon.trangThai==0?"Chờ xác nhận":detailHoaDon.trangThai==1?"Chờ giao
                    hàng":detailHoaDon.trangThai==2?"Đang giao hàng":"Đã hoàn thành"}}
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-3  mb-5">Tên khách hàng</div>
                <div class="col-md-9">
                  <p>{{detailHoaDon.tenKhachHang}}</p>
                </div>
                <div class="col-md-3  mb-5">Số điện thoại</div>
                <div class="col-md-9">
                  <p>{{detailHoaDon.soDienThoaiKhachHang}}</p>
                </div>
                <div class="col-md-3  mb-5">Địa chỉ</div>
                <div class="col-md-9">
                  <p>
                    {{detailHoaDon.diaChiKhachHang}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex-fill">
        <h1 style="text-align: left">LỊCH SỬ THANH TOÁN</h1>
        <hr>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Số tiền</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Nhân viên xác nhận</th>
              <th scope="col">Ghi chú</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>{{$index+1}}</th>
              <th scope="row">{{detailHoaDon.tongTien| number}} VND</th>
              <th scope="row">{{detailHoaDon.ngayThanhToan | date: 'dd/MM/yyyy hh:mm a'}}</th>
              <th scope="row">
                {{detailHoaDon.trangThai==0?"Chờ xác nhận":detailHoaDon.trangThai==1?"Chờ giao
                hàng":detailHoaDon.trangThai==2?"Đang giao hàng":"Đã hoàn thành"}}
              </th>
              <th scope="row"></th>
              <th>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<style>
  .timeline-container {
    overflow-x: auto;
    white-space: nowrap;
    position: relative;
  }

  .timeline {
    display: flex;
    list-style: none;
    padding: 20px;
    position: relative;
    overflow-x: auto;

  }

  .timeline::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #3498db;
    z-index: 1;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
  }

  .timeline::before {
    display: none;
  }


  .timeline-item {
    position: relative;
    width: 250px;
    margin-right: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    z-index: 3;
  }

  .timeline-item::before {
    display: none;
  }

  .timeline-item::after {
    display: none;
  }

  .timeline-item:hover {
    transform: translateY(-10px);
  }
</style>