<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="card flex-fill">
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <form class="row">
                            <div class="col-md-3">
                                <input type="text" class="form-control" placeholder="Search…" aria-label="Search" />
                            </div>
                            <div class="col-md-3">
                                <a type="button" class="btn btn-primary" ng-click="update(detailKieuDang.id)">Tìm
                                    kiếm</a>
                                <a type="button" class="btn btn-warning" href="#kieu-dang/hien-thi">Làm mới</a>
                            </div>
                        </form>
                        <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
                            <a type="button" class="btn btn-primary" href="#san-pham-chi-tiet/add">Thêm</a>
                        </div>
                        <form class="row">
                            <div class="col-md-3">
                                <label class="form-label">Sản Phẩm</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{sanPham.id}}" ng-repeat="sanPham in listSanPhamTrangThai">
                                        {{sanPham.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Danh Mục</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{danhMuc.id}}" ng-repeat="danhMuc in listDanhMucTrangThai">
                                        {{danhMuc.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Màu Sắc</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{mauSac.id}}" ng-repeat="mauSac in listMauSacTrangThai">
                                        {{mauSac.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Kích Thước</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{kichThuoc.id}}" ng-repeat="kichThuoc in listKichThuocTrangThai">
                                        {{kichThuoc.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Phong Cách</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{phongCach.id}}" ng-repeat="phongCach in listPhongCachTrangThai">
                                        {{phongCach.ten}}</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Chất Liệu</label>
                                <select name="" id="">
                                    <option value="">Tất cả</option>
                                    <option value="{{chatLieu.id}}" ng-repeat="chatLieu in listChatLieuTrangThai">
                                        {{chatLieu.ten}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Họa Tiết</label>
                                <select name="" id="">
                                    <option value="">Tất Cả</option>
                                    <option value="{{hoaTiet.id}}" ng-repeat="hoaTiet in listHoaTietTrangThai">
                                        {{hoaTiet.ten}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Trạng Thái</label>
                                <select name="" id="">
                                    <option value="">Tất Cả</option>
                                    <option value="">Kích Hoạt</option>
                                    <option value="">Hủy Kích Hoạt</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Sắp Xếp</label>
                                <select name="" id="">
                                    <option value="">Mặc Định</option>
                                    <option value="">Hàng mới nhất</option>
                                    <option value="">Giá tăng dần</option>
                                    <option value="">Giá giảm dần</option>
                                    <option value="">A -> Z</option>
                                    <option value="">Z -> A</option>

                                </select>
                            </div>
                        </form>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ảnh</th>
                                    <th scope="col">Tên sản phẩm</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Giá</th>
                                    <th scope="col">Mô tả</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Thao tác</th>

                                </tr>
                            </thead>
                            <tbody ng-repeat="sanPhamChiTiet in listSanPhamChiTiet.content">
                                <tr>
                                    <th scope="row">{{$index+1}}</th>
                                    <th scope="row"><img class="table_img"
                                            src="../../../assets/{{sanPhamChiTiet.anhNoiBat}}"></th>
                                    <th scope="row">{{sanPhamChiTiet.ten}}</th>
                                    <th scope="row">{{sanPhamChiTiet.soLuong}}</th>
                                    <th scope="row">{{sanPhamChiTiet.gia}}</th>
                                    <th scope="row">{{sanPhamChiTiet.moTa}}</th>
                                    <th scope="row">{{sanPhamChiTiet.trangThai==1?"Kích hoạt":"Hủy kích hoạt"}}
                                    </th>
                                    <th>
                                        <a type="button" class="btn btn-warning "
                                            href="#san-pham-chi-tiet/update/{{sanPhamChiTiet.idsanPham}}">Chi
                                            tiết</a>
                                        <a type="button" class="btn btn-danger" ng-click="delete(sanPham.id)">Xóa</a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>