<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a type="button" class="btn btn-success" href="#nhan-vien/add"
                >+ Thêm Mới</a
              >
            </div>

            <div class="row">
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Tìm mã nhân viên"
                />
              </div>
              <div class="col-md-4">
                <a
                  type="button"
                  class="btn btn-primary"
                  href="#/khuyenmai/tim-kiem"
                  >Tìm kiếm</a
                >
                <a
                  type="button"
                  class="btn btn-warning"
                  href="#/khuyenmai/lam-moi"
                  >Làm mới</a
                >
              </div>
            </div>
            <br />
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Mã</th>
                  <th scope="col">Họ Và Tên</th>
                  <th scope="col">Email</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Số thẻ căn cước</th>
                  <th scope="col">Chức Vụ</th>
                  <th scope="col">Ngày tạo</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Thao Tác</th>
                </tr>
              </thead>
              <tbody ng-repeat="nv in list_nv.content">
                <tr>
                  <th scope="row">{{$index+1}}</th>
                  <th scope="row">{{nv.ma}}</th>
                  <th scope="row">{{nv.hoten}}</th>
                  <th scope="row">{{nv.email}}</th>
                  <th scope="row">{{nv.ngaysinh}}</th>
                  <th scope="row">{{nv.sodienthoai}}</th>
                  <th scope="row">{{nv.cmt}}</th>
                  <th scope="row">{{nv.vaiTro.ten}}</th>
                  <th scope="row">
                    {{nv.ngaytao | date: 'dd/MM/yyyy hh:mm a'}}
                  </th>

                  <th scope="row">
                    {{nv.trangthai==1?"Kích hoạt":"Hủy kích hoạt"}}
                  </th>
                  <th>
                    <i
                      type="button"
                      class="material-icons"
                      style="font-size: 23px; color: red"
                      ng-click="delete(nv.id)"
                      >delete</i
                    >
                    <i
                      type="button"
                      class="material-icons"
                      style="font-size: 23px; color: red"
                      href="#nhan-vien/update/{{nv.id}}"
                      >delete</i
                    >
                  </th>
                </tr>
              </tbody>
            </table>
            <nav class="align-center" aria-label="Page navigation example">
              <ul class="pagination">
                <li
                  class="page-item"
                  ng-repeat="page in totalPages track by $index"
                  ng-click="changePage($index);"
                >
                  <a class="page-link">{{$index+1}}</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
