<style>
  .radio-group {
    display: flex;
    align-items: center;
    gap: 20px; /* Khoảng cách giữa radio buttons */
  }
</style>
<main class="content">
  <div class="container-fluid p-0">
    <div class="row justify-content-center">
      <div class="card flex-fill">
        <div class="card-body">
          <form novalidate name="formAdd" role="form">
            <div class="text-center">
              <h4 class="mb-3">THÔNG TIN NHÂN VIÊN</h4>
            </div>
            <div class="row">
              <!-- Phần thông tin nhân viên (bốn phần tư màn hình) -->
              <div class="col-md-6">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="container-fluid">
                        <form>
                          <div class="mb-3">
                            <label class="form-label">Mã nhân viên</label>
                            <input
                              type="text"
                              class="form-control"
                              aria-describedby="emailHelp"
                              ng-model="detailNhanVien.ma"
                              disabled
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Chức vụ</label>
                            <input
                              type="text"
                              class="form-control"
                              aria-describedby="emailHelp"
                              ng-model="detailNhanVien.chucVu.ten"
                              disabled
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Tên nhân viên</label>
                            <input
                              type="text"
                              class="form-control"
                              aria-describedby="emailHelp"
                              ng-model="detailNhanVien.hoten"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input
                              type="text"
                              class="form-control"
                              aria-describedby="emailHelp"
                              ng-model="detailNhanVien.email"
                              required
                              name="email"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Số điện thoại</label>
                            <input
                              type="text"
                              class="form-control"
                              aria-describedby="emailHelp"
                              ng-model="detailNhanVien.sodienthoai"
                              required
                              name="sdt"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Ngày sinh:</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.ngaysinh"
                              required
                              name="ns"
                            />
                          </div>
                          <div class="form-group row">
                            <div class="col-md-6">
                              <div class="radio-group">
                                <label class="form-label">Trạng thái:</label>
                                <div class="radio-option">
                                  <input
                                    ng-model="detailNhanVien.trangthai"
                                    ng-checked="detailNhanVien.trangthai==1"
                                    type="radio"
                                    id="male"
                                    name="gender"
                                    value="1"
                                  />
                                  <label for="male">Hoạt động</label>
                                </div>

                                <div class="radio-option">
                                  <input
                                    type="radio"
                                    ng-model="detailNhanVien.trangthai"
                                    ng-checked="detailNhanVien.trangthai==2"
                                    id="female"
                                    name="gender"
                                    value="2"
                                  />
                                  <label for="female">Đã khóa</label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="radio-group">
                                <label class="form-label">Giới tính:</label>
                                <div class="radio-option">
                                  <input
                                    ng-model="detailNhanVien.gioitinh"
                                    ng-checked="detailNhanVien.gioitinh==true"
                                    type="radio"
                                    id="male"
                                    name="g"
                                    value="true"
                                  />
                                  <label for="male">Nam</label>
                                </div>

                                <div class="radio-option">
                                  <input
                                    type="radio"
                                    ng-model="detailNhanVien.gioitinh"
                                    ng-checked="detailNhanVien.gioitinh==false"
                                    id="female"
                                    name="g"
                                    value="false"
                                  />
                                  <label for="female">Nữ</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Phần địa chỉ (bốn phần tư màn hình) -->
              <div class="col-md-6">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="container-fluid">
                        <form>
                          <div class="mb-3">
                            <label class="form-label">Số nhà, tên đường</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.mota"
                              name="mota"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Tỉnh thành phố</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.tinhthanhpho"
                              name="mota"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Quận huyện</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.quanhuyen"
                              name="mota"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Phường xã</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.phuongxa"
                              name="mota"
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Ngày tạo</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.ngaytao"
                              name="mota"
                              disabled
                            />
                          </div>
                          <div class="mb-3">
                            <label class="form-label">Ngày cập nhât</label>
                            <input
                              type="text"
                              class="form-control"
                              ng-model="detailNhanVien.ngaysua"
                              name="mota"
                              disabled
                            />
                          </div>
                        </form>
                        <div
                          class="d-grid gap-2 d-md-flex justify-content-md-end"
                        >
                          <a
                            type="button"
                            class="btn btn-primary"
                            ng-click="updateNhanVien(detailNhanVien.id)"
                            >Cập Nhật</a
                          >
                          <a
                            type="button"
                            class="btn btn-primary"
                            href="#nhan-vien/hien-thi"
                            >Quay lại</a
                          >
                        </div>
                      </div>
                      <div
                        class="toast-container position-fixed top-0 end-0 p-3"
                      >
                        <div
                          id="liveToast"
                          class="toast"
                          role="alert"
                          aria-live="assertive"
                          aria-atomic="true"
                          data-bs-delay="1500"
                        >
                          <div class="toast-body">
                            {{message}}
                            <div id="myProgress">
                              <div id="myBar"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Các nút điều hướng -->
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
