<main class="content">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="card flex-fill">
        <div class="card-body d-flex">
          <div class="align-self-center w-100">
            <h4 class="mb-4">CẬP NHẬT NHÂN VIÊN</h4>
            <form>
              <div class="row">
                  <div class="ms-4 mb-5">
                    <div class="uploadfile">
                      <label for="product-image">
                        <i ng-if="!detailKhachHang.anhDaiDien" style="font-size: 250px" class="fas fa-user-circle"
                          aria-hidden="true"></i>
                        <img ng-if="detailKhachHang.anhDaiDien"
                          src="../../../assets/anh-nguoi-dung/{{detailNhanVien.anhDaiDien}}" class="table_img" />
                        <input type="file" multiple class="file-upload-input" id="product-image"
                          data-mdb-file-upload="file-upload" style="display: none" />
                      </label>
                    </div>
                  </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6 mb-6">
                      <label class="form-label">Ngày sinh <span style="color: red">*</span>:</label>
                      <input type="date" class="form-control" ng-model="detailNhanVien.ngaySinh">
                    </div>
                    <div class="col-md-6 mb-6">
                      <label class="form-label">Giới tính <span style="color: red">*</span>:</label><br>

                      <input ng-model="detailNhanVien.gioiTinh" checked type="radio" name="gender" value="true"
                        class="form-check-input" />
                      <label class="form-check-label"> Nam </label>

                      <input type="radio" ng-model="detailNhanVien.gioiTinh" name="gender" value="false"
                        class="form-check-input ms-3" />
                      <label class="form-check-label"> Nữ </label>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Số điện thoại <span style="color: red">*</span>:</label>
                      <input type="text" class="form-control" ng-model="detailNhanVien.soDienThoai" />
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-label">Email <span style="color: red">*</span>:</label>
                      <input type="text" class="form-control" ng-model="detailNhanVien.email" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Mã nhân viên <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" disabled ng-model="detailNhanVien.ma">
                </div>
                <div class="col-md-8">
                  <label class="form-label">Địa chỉ cụ thể <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" ng-model="detailNhanVien.diaChiCuThe">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4 mb-3">
                  <label class="form-label">Tên nhân viên <span style="color: red">*</span>:</label>
                  <input type="text" class="form-control" ng-model="detailNhanVien.hoTen">
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="form-label">Tỉnh / Thành Phố</label>
                      <div class="dropdown-container">
                        <input type="text" ng-model="detailNhanVien.tinhThanhPho" ng-click="toggleAPI($event,'ThanhPho')"
                          class="form-control">
                        <ul ng-show="showDropDownThanhPho" id="dropDown">
                          <li ng-repeat="city in cityOptions" ng-model="detailNhanVien.tinhThanhPho"
                            ng-click="selectOptionThanhPho(indexDiaChi, city.name)">
                            {{city.name}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Quận / Huyện</label>
                      <div class="dropdown-container">
                        <input type="text" ng-model="detailNhanVien.quanHuyen" ng-click="toggleAPI($event,'QuanHuyen')"
                          class="form-control">
                        <ul ng-show="showDropDownQuanHuyen" id="dropDown">
                          <li ng-repeat="district in districtOptions" ng-model="detailNhanVien.quanHuyen"
                            ng-click="selectOptionQuanHuyen(indexDiaChi, district.name)">
                            {{district.name}}</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <label class="form-label">Phường / Xã </label>
                      <div class="dropdown-container">
                        <input type="text" ng-model="detailNhanVien.phuongXa" ng-click="toggleAPI($event,'PhuongXa')"
                          class="form-control">
                        <ul ng-show="showDropDownPhuongXa" id="dropDown">
                          <li ng-repeat="ward in wardOptions" ng-model="detailNhanVien.phuongXa"
                            ng-click="selectOptionPhuongXa(indexDiaChi, ward.name)">
                            {{ward.name}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a type="button" class="btn btn-primary" ng-click="update($event)">Thêm nhân viên</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1100">
      <div class="toast-body">
        <span class="icon_error">
          <i class="fa-solid fa-xmark fa-xl"></i>
        </span>
        <span class="message_error">
          {{message}}
        </span>
        <div id="myProgress">
          <div id="error"></div>
        </div>
      </div>
    </div>
  </div>
</main>